# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.sif

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.ipynb_checkpoints

# Fortran
*.exe
*.o
*.mod

# Others ...
scripts/.ipynb_checkpoints/lagrange_mp-checkpoint.py
.vscode/settings.json
/singularity/lumia
/.idea/*
.idea/
.idea
*.log
.eric7project/*
.jedi/*

*.simg
site/

# The "bin" folder should contain generic scripts. It isn't ignored totally, but files should be added manually to git
bin/
run/
