#include gmdd.rc

tag         : R500
observations.filename      : observations/realobs.tar.gz
emissions.biosphere.origin : LPJ_eurocom
emissions.biosphere.error  : 25
emissions.biosphere.corr   : 500-g
