#include gmdd.rc

tag         : RA
observations.filename      : observations/realobs.tar.gz
observations.use_sites     : CIB005, CMN, ELL, HPB054, JFJ, KAS, LMP008, OXK163, PAL, PRS, PUY010, PUY015, SSL, TTA
emissions.biosphere.origin : LPJ_eurocom
emissions.biosphere.error  : 25
emissions.biosphere.corr   : 200-g
