#include gmdd.rc

tag                        : S100
observations.filename      : observations/truth.tar.gz
emissions.biosphere.origin : ORCHIDEE
emissions.biosphere.error  : 25
emissions.biosphere.corr   : 100-g
