#include gmdd.rc

tag         : SErr3H_scaled_normalized
observations.filename      : observations/truth.tar.gz
emissions.biosphere.origin : ORCHIDEE
emissions.biosphere.error  : 10.
emissions.biosphere.corr   : 200-g
optim.err.type             : hourlyPrior_scaled
